* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {

    padding: 5rem 0;

}
body{
    background:#fff;
}

h1,
h2 {
    text-align: center;
    background-color: rgba(19, 17, 17, 0.2);
    color: #fff;
}

/* h2{
    color:#fff;
    background-color:transparent;
    padding:10px 0px;
} */

.buttonsection {

    display: flex;
    padding: 2rem 1rem;

}

.Rgbsec,
.hexcode {

    background-color: transparent;
}

#backgroundColor,
#hexbackgroundColor {
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 5px;
    font-size: 17px;
    flex-basis: 70%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.bgChangebtn,
.hexbgChangebtn {
    border: 0;

    padding: 6px 10px;
    font-size: 18px;
    cursor: pointer;
    flex-basis: 15%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: .5s;
}

.bgChangebtn:hover {
    background-color: #1f0707;
    color: #fff;
}

.hexbgChangebtn:hover {
    background-color: #1f0707;
    color: #fff;
}

.hexcode {
    margin: 10px 0px;
}

.toast{
    height:50px;
    width:300px;
    background-color:rgba(40, 0, 218,.5);
    display:none;
    align-items: center;
    justify-content:center;
    position:absolute;
    top:0px;
    right:0px;
    border-radius:5px;
    box-shadow: -3px 2px 5px #000;
    animation-name:animations;
    animation-duration: .5s;
    transform: translate(20px,10px);
   animation-fill-mode: forwards;
}

.toast h3{
    
    color:#ffffff;     
}


@keyframes animations{
    from{
        transform: translate(20px,10px);
    }

    to{
        transform: translate(-20px,10px);
    }
}
.close-button{

    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:-1px;
    right:2px;
    transition:.5s;
}
.close-button:hover{
    background-color:rgb(250, 250, 250);

}



#closeBtn{
   height:25px;
   width:25px;
    cursor:pointer;
    padding:1px;
    fill:#000;
    
  
}
#closeBtn:hover{
    animation-name:rotateAni;
    animation-duration: .2s;
   animation-fill-mode: forwards;
   
 }

 @keyframes rotateAni {
        0%{
            rotate: 0deg;
        }
        1%{
            rotate: 36deg;
        }

        25%{
            rotate: 72deg;
        }
        50%{
            rotate: 108deg;
        }

        75%{
            rotate: 144deg;
        }

        100%{
            rotate: 180deg;
        }
 }

